@use '../components/searchbar';
@use '../base' as *;

.home {
  &__form {
    --background-color: white;
    --border-radius: 0.5rem;
    --box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);

    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  }

  &__heading {
    @include apply-text-style(3xl);
    font-weight: 500;
  }

  &__subheading {
    @include apply-text-style(sm);
    font-weight: 300;
  }
}

@mixin home--sm() {
  .home {
    &__heading {
      @include apply-text-style(4xl);
    }

    &__subheading {
      @include apply-text-style(base);
    }
  }
}

@mixin home--md() {
  .home {
    &__heading {
      @include apply-text-style(5xl);
    }

    &__subheading {
      @include apply-text-style(lg);
    }
  }
}

@mixin home--lg() {
  .home {
    &__heading {
      @include apply-text-style(5xl);
    }

    &__subheading {
      @include apply-text-style(xl);
    }
  }
}

@mixin home--xl() {
  .home {
    &__heading {
      @include apply-text-style(5xl);
    }

    &__subheading {
      @include apply-text-style(xl);
    }
  }
}

@mixin home--xxl() {
  .home {
    &__heading {
      @include apply-text-style(7xl);
    }

    &__subheading {
      @include apply-text-style(3xl);
    }
  }
}
