@use '../abstracts/breakpoints' as *;

.home {
  &__form {
    --gap: 1.5rem;
    --form-padding: 2rem;

    display: grid;
    gap: var(--gap);
    padding: var(--form-padding);
    margin-inline: 1rem;
  }

  &__heading {
    text-align: center;
  }

  &__subheading {
    text-align: center;
  }
}

@mixin home--sm() {
  .home {
    &__form {
      --gap: 2rem;
      --form-padding: 3rem;
    }
  }
}

@mixin home--md() {
  .home {
    &__form {
      --gap: 3rem;
      --form-padding: 4rem;
    }
  }
}

@mixin home--lg() {
  .home {
    &__form {
      --gap: 4rem;
      --form-padding: 5rem;
    }
  }
}

@mixin home--xl() {
  .home {
    &__form {
      --gap: 5rem;
      --form-padding: 6rem;
    }
  }
}

@mixin home--xxl() {
  .home {
    &__form {
      --gap: 6rem;
      --form-padding: 7rem;
    }
  }
}
