@use '../abstracts/breakpoints' as *;

.home {
  &__form {
    --form-gap: 1.5rem;
    --form-padding: 2rem;

    --hero-gap: 0.5rem;

    --search-gap: 1rem;

    display: grid;
    gap: var(--form-gap);
    padding: var(--form-padding);
    margin-inline: 1rem;
    margin: 2rem;
  }

  &__hero {
    display: grid;
    gap: var(--hero-gap);
  }

  &__search {
    display: grid;
    gap: var(--search-gap);
    min-width: 0;
  }

  &__heading {
    text-align: center;
  }

  &__subheading {
    text-align: center;
  }
}

.unit {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.data-display {
  --data-display-padding: 1.5rem;
  --data-display-gap: 1.5rem;

  display: grid;
  gap: var(--data-display-gap);
  padding: var(--data-display-padding);

  & header {
    display: flex;
    align-items: center;

    .datetime {
      margin-left: auto;
    }
  }

  & main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & p {
      text-align: center;
    }
  }

  & footer {
    display: grid;
    gap: 0.5rem;

    @media only screen and (min-width: 350px) {
      grid-template-columns: repeat(3, 1fr);
    }

    & p {
      text-align: center;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
  }
}

@mixin home--sm() {
  .home {
    &__form {
      --form-gap: 2rem;
      --form-padding: 3rem;
    }

    &__hero {
      --hero-gap: 0.75rem;
    }
  }
}

@mixin home--md() {
  .home {
    &__form {
      --form-gap: 3rem;
      --form-padding: 4rem;
    }

    &__hero {
      --hero-gap: 1rem;
    }
  }

  .data-display main {
    gap: 1rem;
  }
}

@mixin home--lg() {
  .home {
    &__form {
      --form-gap: 3rem;
      --form-padding: 4rem;
    }

    &__hero {
      --hero-gap: 1.25rem;
    }
  }

  .data-display main {
    gap: 1rem;
  }
}

@mixin home--xl() {
  .home {
    &__form {
      --form-gap: 4rem;
      --form-padding: 5rem;
    }

    &__hero {
      --hero-gap: 1rem;
    }
  }

  .data-display main {
    gap: 1rem;
  }
}

@mixin home--xxl() {
  .home {
    &__form {
      --form-gap: 6rem;
      --form-padding: 7rem;
    }

    &__hero {
      --hero-gap: 1.75rem;
    }
  }
  .data-display main {
    gap: 1.5rem;
  }
}
